footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-top: 30px;
    padding: 15px 10px;
    background: linear-gradient(0deg, rgba(22,10,64,1) 35%, rgba(4,16,38,1) 100%);
}

footer .image{
    display: flex;
    flex-basis: 150px;
    align-items: center;
}

footer .image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer .info{
    display: flex;
    flex-direction: column;
    flex: 0.1 2 400px;
    gap: 20px;
}


footer .info .box-info{
 
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


footer .info .box-info .box-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

footer .info .box-info .box-icons .icon{
    font-size: 30px;
    transition: 500ms;
}

footer .info .box-info .box-icons .icon:hover{
    color: #fff;
    transform: scale(1.2);
}