.navWeb {
    display: flex;
    background-color: var(--color-background);
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 60px;
    min-height: 7vh;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
    
.navWeb .logo{
    display: flex;
    align-items: center;
}

.navWeb .logo .title{
    font-weight: 500;
}

.navWeb .navWeb-link{
    display: flex;
    flex-direction: row;
    flex-basis: 250px;
    justify-content: space-between;
    align-items: center;
}

.navWeb .link {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
}

.navWeb .logo .firstWord-title{
    font-family: 'Roboto', Courier;
    color:var(--color-title);
}

@media screen and (width <= 450px){
    .navWeb {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .navWeb .logo .title{
        font-size: 1.8rem;
    }

    .navWeb .navWeb-link{
        width: 100%;
        justify-content: space-between;
    }

    .navWeb .link {
        font-size: 1.2rem;
    }
}