@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100&family=Roboto:wght@400;500&display=swap%27');

:root{
  --color-effect: #160A40;
  --color-background: #041026;
  --color-text: #F2F2F2;
  --color-text-effect: #3D1673;
  --color-title: #ac46ff;
  --color-effect-title: #ac46ff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #979797;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-title);
}

::selection {
  background-color: transparent;
  color: orange;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: var(--color-background);
}

h1, h2, h3, h4, h5, h6, a{
  color: var(--color-text);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

p, span{
  color: var(--color-text);
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.effect{
  color: var(--color-text-effect);
  cursor:pointer;
}

.effect:hover{
  color: var(--color-title);
  transition: 0.2s;
}


