
.movieElement,
.tvElement {
    min-height: 200px;
    width: 100%;
    min-height: 200px;
    height: 100%;
    max-height: 300px;
    position: relative;
    top: 0;
    left: 0;
    opacity: 0;
    border-radius: 5px;
    overflow: hidden;
}

.movieElement-title,
.tvElement-title {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 40%;
    background: linear-gradient(0deg, var(--color-text-effect) 0%, rgba(255, 255, 255, 0) 100%);
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 500;
    opacity: 0;
}

.movieElement-img,
.tvElement-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* problema */

.imgBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.Background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.elementImgBackground {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.topLeftBackground {
    background: linear-gradient(140deg, rgba(4, 16, 38, 1) 30%, rgba(255, 255, 255, 0) 100%);
}

.topRightBackground {
    background: linear-gradient(214deg, rgba(4, 16, 38, 1) 30%, rgba(255, 255, 255, 0) 100%);
}

.bottomRightBackground {
    background: linear-gradient(315deg, rgba(4, 16, 38, 1) 30%, rgba(255, 255, 255, 0) 100%);
}

.bottomLeftBackground {
    background: linear-gradient(30deg, rgba(4, 16, 38, 1) 30%, rgba(255, 255, 255, 0) 100%);
}

@media screen and (width <= 1150px) {
    .topLeftBackground {
    display: none;
    }

    .topRightBackground {
    background: radial-gradient(circle, rgba(4,16,38,0.5745895770417542) 0%, rgba(4,16,38,0.6334131064535189) 23%, rgba(4,16,38,0.8799117058932948) 54%, rgba(4,16,38,1) 95%);
    }

    .bottomLeftBackground {
        background: radial-gradient(circle, rgba(4,16,38,0.5745895770417542) 0%, rgba(4,16,38,0.6334131064535189) 23%, rgba(4,16,38,0.8799117058932948) 54%, rgba(4,16,38,1) 95%);
    }

    .bottomRightBackground {
        display: none;
    }

    .movieElement-title,
    .tvElement-title {
        display: none;
    }
}
