.home .trailer {
    margin-top: 60px;
    width: 100%;
    height: 93vh;
    position: relative;
    top: 0;
    left: 0;
}

.home .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(4, 16, 38) 0%, rgba(255, 255, 255, 0) 100%);
}

.home .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: black;
}

.home .homePage {
    width: 100%;
    height: calc(100% - 60px);
    position: absolute;
    top: 60px;
    left: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction:column;
    gap: 6%;
    font-size: 1.2em;
    padding-bottom:10%;
}



.homePage .title {
    font-family: 'Roboto', cursive;
    font-size: 4.7rem;
    font-weight: 700;
}

.homePage .firstWord-title {
    color: var(--color-title);
}

.homePage .nav{
  transition: 500ms;
  padding: 7px;
  background-color: var(--color-effect-title);
  position: absolute;
  top: 50%;
  left: -80px;
  bottom: 0;
  width:200px;
  height: 50px;
  border-radius: 100px 100px 5px 5px;
  transform: rotate(90deg);
}

.homePage .nav:hover{
  background-color: red;
  left: -70px;

}

.home .boxCard {
    height: 93vh;
    display: grid;
    grid-template-rows: repeat(3, minMax(1fr, 500px));
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

.boxCard .boxText {
    display: flex;
    grid-column: 2 / 5;
    grid-row: 1;
    justify-content: space-around;
}

.boxText .title-boxText {
    font-family: 'Roboto', cursive;
    font-size: 2.5rem;
    font-weight: 700;
    cursor: pointer;
}

.boxCard .boxMedia {
    grid-column: 1 / 6;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 100%;
    justify-items: center;
    align-content: center;
    gap: 20px;
    border-bottom: 7px solid var(--color-text-effect);
}

.boxCard .boxButton {
    grid-column: 3;
    grid-row: 3;
    font-size: 3rem;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.boxButton .button {
    cursor: pointer;
    color: var(--color-text);
    border-radius: 100%;
}

.boxButton .button:hover {

    scale: 1.1;
    background-color: var(--color-title);
    transition: 500ms;
}


@media screen and (width <= 450px) {
    .home .homePage {
        font-size: 1em;
    }

    .homePage .title{
        font-size: 4.2rem;
    }
    .home .boxCard {
        grid-template-columns: repeat(2, 1fr);
    }

    .boxCard .boxText {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .boxCard .boxButton{
        grid-column: 1 / 3;
        grid-row: 3;
    }
}

.information {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    margin: 100px 0;
    gap: 25px;
    justify-content: space-around;
  }
  
  .information .image {
    height: 110px;
    flex: 0.8 3 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-text-effect);
    border-radius: 100px 100px 5px 5px;
  }
  
  .information .image .fond {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    background-color: var(--color-effect-title);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
  
  .information .image .fond .icon {
    font-size: 180px;
    animation-name: iconInformationAnimation;
    animation-duration: 7s;
    animation-iteration-count: infinite;
  }
  
  @keyframes iconInformationAnimation {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    25% {
      opacity: 1;
      transform: scale(1.2);
    }
    50% {
      opacity: 1;
      transform: scale(1) rotate(360deg);
    }
    75% {
      opacity: 1;
      transform: scale(1.2) rotate(360deg);
    }
    90% {
      opacity: 0;
      transform: scale(0) rotate(360deg);
    }
    100% {
      opacity: 0;
      transform: scale(0) rotate(360deg);
    }
  }
  
  .information .text {
    flex: 0 2 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px 20px;
    font-weight: 500;
  }
  
  .information .text ul {
    padding: 0 20px;
  }
  
  

.prefooter{
    padding: 10px 5px;
    text-align: center;
}

