.sectionMedia {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    padding: 10px 0px;
  }
  
  .sectionMedia header {
    padding: 0px 1.5vw;
  }
  
  .sectionMedia header .title {
    font-size: 36px;
    font-weight: 800;
    border-bottom: 2px solid var(--color-title);
    width: fit-content;
  }
  
  .sectionMedia .linkContainer {
    display: flex;
    justify-content: center;
    justify-items: center;
    position: absolute;
    width: 100%;
  }
  
  .sectionMedia .linkContainer .link {
    position: relative;
    font-size: 30px;
    padding: 2px 20px;
    background-color: var(--color-text-effect);
    border-radius: 5px 5px 30px 30px;
    
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 500ms;
  }

  .sectionMedia .linkContainer .link:hover{
    transform: scale(1.1);
  }
  
  .sectionMedia .mediaContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 15px 5px;
    gap: 7px;
    position: relative; /* Agregar posición relativa al contenedor */
  }
  
  .sectionMedia .mediaContainer a {
    display: flex;
    justify-content: center; /* Centrar las cartas horizontalmente */
  }
  
  .sectionMedia .mediaContainer a .card {
    border-radius: 16px;
    height: 300px;
    transition: 500ms;
    position: relative;
    /* Asegurar que las cartas estén por encima del contenedor de los botones */
  }
  
  .sectionMedia .mediaContainer a:hover .card {
    box-shadow: 7px 7px var(--color-title);
    transform: scale(1.05);
     /* Aumentar el índice z para que las cartas en hover estén por encima del contenedor de los botones */
  }
  
  .sectionMedia .mediaContainer a .card span {
    position: absolute;
    background-color: #5204bf;
    padding: 2px 20px 2px 5px;
    display: flex;
    align-items: center;
    font-size: 25px;
    gap: 5px;
    border-radius: 3px 0px 30px 0px;
  }
  
  .sectionMedia .mediaContainer a .card span .icon {
    transform: scale(1.25);
  }
  
  .sectionMedia .mediaContainer a .card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  
  .sectionMediaContent {
    position: relative;
  }

  .sectionMediaContent .linkContainer{
    position: absolute;
    top:0;
  }


  .sectionMediaContent .linkContainer {
    display: flex;
    justify-content: center;
    justify-items: center;
    position: absolute;
    width: 100%;
  }
  
  .sectionMediaContent .linkContainer .link {
    position: relative;
    font-size: 30px;
    padding: 2px 20px;
    background-color: var(--color-text-effect);
    border-radius: 5px 5px 30px 30px;
    
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 500ms;
  }

  .sectionMediaContent .linkContainer .link:hover{
    transform: scale(1.1);
  }


  
  .sectionMediaContent .buttons {
    width: 100%;
    position: absolute;
    top: 45%;
  }
  
  .sectionMediaContent .buttons .buttonsContainer {
    display: flex;
    justify-content: space-between;
    padding: 5px 7px;
  }
  
  .sectionMediaContent .buttons .buttonsContainer .button {
    display: flex;
    align-items: center;
    background-color: #3d1673;
    color: #f2f2f2;
    border: none;
    border-radius: 100%;
    padding: 5px;
    font-size: 40px;
    transition: 500ms;
     /* Asegurar que los botones estén por encima del contenedor de las cartas */
  }
  
  .sectionMediaContent .buttons .buttonsContainer .button:hover {
    transform: scale(1.1);
    background-color: #5204bf;
    color: #f2f2f2;
  }
  