.sectionMedia {
   
}

.sectionMedia header{
    display: flex;
    justify-content: space-between;
}

.sectionMedia header .title{
    font-family: 'Bebas Neue', cursive;
    font-size: 36px;
    color: #990FBF;
}

.sectionMedia header .link{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    background-image: linear-gradient(45deg, #5204BF 9%, #990FBF 53%);
  border-radius: 20px;
  padding: 0px 7px;
}

.sectionMedia .mediaContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(216px, 1fr));
    padding: 20px 5px;
    gap: 7px;
}

.sectionMedia .mediaContainer a .card{
    border-radius: 16px;
    height: 400px;
    transition: 500ms;
}

.sectionMedia .mediaContainer a .card:hover{
    box-shadow: 1px 1px 60px #990FBF,
                1px 1px 10px rgba(240, 248, 255, 0.295)
    ;
    transform: scale(1.05);
}

.sectionMedia .mediaContainer a .card span{
    position: absolute;
    background-color: #5204BF;
    border-radius: 16px;
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 25px;
    gap: 5px;
}

.sectionMedia .mediaContainer a .card span .icon{
    transform: scale(1.25);
}

.sectionMedia .mediaContainer a .card img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}