.sectionMedia{
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    padding: 10px 0px;
}

.sectionMedia header{
    padding: 0px 20px;
    
}

.sectionMedia header .title{
    font-size: 36px;
    font-weight: 800;
}

.sectionMedia .linkContainer{
    display: flex;
    justify-content: center;
    justify-items: center;
    position: absolute;
    top: 25px; 
    width: 100%;
    z-index: 1;
}
  
.sectionMedia .linkContainer .link{
    position: relative;
    font-size: 25px;
    padding: 2px 20px;
    background-color: var(--color-title);
    border-radius: 5px 5px 30px 30px;
    bottom: -20px;
    display: flex;
    align-items: center;
    gap: 5px;
}
  

.sectionMedia .mediaContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0px 5px;
    gap: 7px;
}

.sectionMedia .mediaContainer a .card{
    border-radius: 16px;
    height: 300px;
    transition: 500ms;
    position: relative;
}

.sectionMedia .mediaContainer a .card:hover{
    box-shadow: 7px 7px var(--color-title);
    transform: scale(1.05);
}

.sectionMedia .mediaContainer a .card span{
    position: absolute;
    background-color: #5204BF;
    padding: 2px 20px 2px 5px;
    display: flex;
    align-items: center;
    font-size: 25px;
    gap: 5px;
    border-radius: 3px 0px 30px 0px;
}

.sectionMedia .mediaContainer a .card span .icon{
    transform: scale(1.25);
}

.sectionMedia .mediaContainer a .card img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.sectionMediaContent{
    position: relative;
}

.sectionMediaContent .buttons{
    width: 100%;
    position: absolute;
    top: 45%;
}

.sectionMediaContent .buttons .buttonsContainer{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

.sectionMediaContent .buttons .buttonsContainer .button{
    display: flex;
    align-items: center;
    background-color: #3D1673;
    color:  #F2F2F2;
    border: none;
    border-radius: 100%;
    padding: 5px;
    font-size: 30px;
    transition: 500ms;
}


.sectionMediaContent .buttons .buttonsContainer .button:hover{
    transform: scale(1.1);
    background-color: #5204BF;
    color: #F2F2F2;
}