@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100&family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
}

.latestMovie{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    padding: 35px 7px;
}

.latestMovie .imageContainer{
    display: flex;
    align-items: center;
    perspective: 700px;
}

.latestMovie .imageContainer img{
    width:350px;
    height: 350px;
    transform: rotateY(45deg);
    box-shadow: 1px 1px 60px #990FBF,
                1px 1px 10px rgba(240, 248, 255, 0.295)
    ;
}

.latestMovie .info{
    width: 400px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.latestMovie .info header{
    background-image: linear-gradient(45deg, #990FBF 20%, #5204BF 100%);
    border-radius: 10px;
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
}

.latestMovie .info .titleContainer{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    flex-basis: auto;
}

.latestMovie .info .title{
    font-family: 'Bebas Neue', cursive;
    color:rgb(252, 76, 222);
    font-size: 25px;
    
}

.latestMovie .info .genre{
    background-image: linear-gradient(45deg, #990FBF 20%, #5204BF 100%);
    padding: 3px 7px;
    border-radius: 7px;
}

.latestMovie .info .notes{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.latestMovie .info .notes .note{
    display: flex;
    align-items: center;
    gap: 7px;
}

.latestMovie .info .notes .note .icon{
    border-radius: 100%;
    background: linear-gradient(45deg, #5204BF 9%, #990FBF 54%);
    font-size: 40px;
}

.latestMovie .info .notes .note .text{
    display: flex;
    gap: 10px;
    align-items: center;
}

.latestMovie .info .genresInfo{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.latestMovie .info .genresInfo .genresContainer{
    display: flex;
    flex: wrap;
    gap: 16px;
}

.latestMovie .info .genresInfo .genresContainer .genre{
    background-color: #5204BF;
    padding: 3px 7px;
    border-radius: 16px;
}

.sectionMedia header{
    display: flex;
    justify-content: space-between;
}

.sectionMedia header .title{
    font-family: 'Bebas Neue', cursive;
    font-size: 36px;
    color: #990FBF;
}

.sectionMedia header .link{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    background-image: linear-gradient(45deg, #5204BF 9%, #990FBF 53%);
  border-radius: 20px;
  padding: 0px 7px;
}

.sectionMedia .mediaContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(216px, 1fr));
    padding: 20px 5px;
    gap: 7px;
}

.sectionMedia .mediaContainer a .card{
    border-radius: 16px;
    height: 400px;
    transition: 500ms;
}

.sectionMedia .mediaContainer a .card:hover{
    box-shadow: 1px 1px 60px #990FBF,
                1px 1px 10px rgba(240, 248, 255, 0.295)
    ;
    transform: scale(1.05);
}

.sectionMedia .mediaContainer a .card span{
    position: absolute;
    background-color: #5204BF;
    border-radius: 16px;
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 25px;
    gap: 5px;
}

.sectionMedia .mediaContainer a .card span .icon{
    transform: scale(1.25);
}

.sectionMedia .mediaContainer a .card img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.reviewsContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 5px;
}

.reviewCard{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 16px;
    box-shadow: 1px 1px 10px #990FBF,
                1px 1px 10px rgba(240, 248, 255, 0.295)
    ;
}