.latestMovie{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 16px;
    gap: 20px;
}

.latestMovie .imageContainer{
    flex:  0 7 360px ;
    height: 250px;
}

.latestMovie .imageContainer img{
    width:100%;
    height: 100%;
    border-radius: 16px;
}

.latestMovie .info{
    flex: 0.2 1 450px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.latestMovie .info header h1{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color-title);
    text-transform: uppercase;
}

.latestMovie .info header .subInfo{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.latestMovie .info header .subInfo .adult{
    background-color: var(--color-title);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.latestMovie .info .content{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.latestMovie .info .content .genresInfo{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.latestMovie .info .content .genresInfo .title{
    color: var(--color-title);
    font-size: 18px;
    font-weight: 500;
}

.latestMovie .info .content .genresInfo .genresContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.latestMovie .info .content .genresInfo .genresContainer .genre{
    background-color: var(--color-title);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.latestMovie .info .content div{
    display:flex;
    justify-content: center;
}


@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.latestMovie .info .content div .icon{
    color: var(--color-title);
    font-size: 55px;
    animation: rotate 4s infinite linear;
}